.posts-feed-container {
    margin-top: 100px;
}

.each-post {
    display: flex;
}

.original-post {
    display: flex;
}


.post-photo {
    width: 500px;
    margin: auto;
}

.video-post-content {
    width: 500px;
}

.post-profile-picture-container {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-profile-picture {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.post-creator {
    color: #4c6444;
    font-size: 15px;
    border-bottom: 1px solid #8a6240;
}

.interact-post-buttons {
    display: flex;
    justify-content: flex-end;
}

.post-delete-button,
.post-edit-button {
    height: 40px;
    width: 40px;
    font-size: 20px;
    padding-left: 6px;
    padding-top: 3px;
    margin: 5px;
}

.reblogged-from-link {
    text-decoration: none;
    color: #4c6444;
}

.reblogged-from-link:hover {
    cursor: pointer;
    background-color: #102820;
    color: white;
}

.reblog-content {
    border-top: 1px solid #8a6240;
}
