.posts-feed-container {
    margin-top: 100px;
}
.each-post-container {
    background-color: #caba9c;
    border-radius: 25px;
    max-width: 500px;
    padding: 50px;
    margin: 30px 0px;
}

.post-photo {
    width: 500px;
    margin: auto;
}

.video-post-content {
    width: 500px;
}
