.current-user-followers-page {
    color: white;
}

.followers-list {
    display: flex;
    flex-direction: column;
    background-color: #caba9c;
    border-radius: 25px;
    width: 500px;
    padding: 50px;
    margin: 30px 0px;
}

.each-follower {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #8a6240;
    text-decoration: none;
    padding: 20px;
    color: black;

}

.follower-profile-picture {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.follower-name {
    margin: 10px;
}

.each-follower:hover {
    .follower-name {
        color: white;
    }
}
