

.post-photo {
    width: 500px;
    margin: auto;
}



.post-creator {
    color: #4c6444;
    font-size: 15px;
    border-bottom: 1px solid #8a6240;
}

.post-content,
.post-caption {
    word-break: break-word;
}
