.edit-post-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.edit-post-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-post-input-containers,
.edit-text-content {
    position: relative;
    margin-bottom: 20px;
}

.edit-post-inputs {
    width: 500px;
}

.floating-placeholders {
    position: absolute;
    pointer-events: none;
    top: 3px;
    left: 3px;
}

.edit-post-inputs:focus+.floating-placeholders {
    top: -18px;
}

.edit-content-preview {
    height: 250px;

}

.edit-file-content-preview {
    height: 200px;
}

.edit-post-textarea {
    width: 500px;
    height: 300px;
}

.edit-photo-content {
    height: 100px;
}

.edit-photo-preview {
    height: 175px;
}

.edit-caption-textarea {
    width: 500px;
    height: 100px;
}

.edit-post-error-container {
    min-height: 25px;
}

.choose-file-buttons {
    display: flex;
    justify-content: center;
    height: 200px;
}

.edit-post-file-accepted-container {
    min-height: 20px;
}

.edit-post-file-accepted-container span {
    margin: 10px;
}

.remove-file-link {
    text-decoration: underline;
    cursor: pointer;

}

.edit-post-button {
    position: absolute;
    bottom: 30px;
}
