.current-user-likes h1 {
    color: white;
}

.no-likes-list {
    display: flex;
    flex-direction: column;
    background-color: #caba9c;
    border-radius: 25px;
    max-width: 500px;
    width: 1fr;
    padding: 50px;
    margin: 30px 0px;
}
